@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: black;
  --background: '#CDDAA9';
  --primary: '#FF8372';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: '#242851';
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
